@mixin item-center($display, $align-item, $justify-content) {
    display: $display;
    align-items: $align-item;
    justify-content: $justify-content;
}

.container {
    @include item-center(flex, none, center);

    .checkout {
        margin-top: 50px;
        width: 700px;
        min-width: auto;
        box-shadow: rgb(174 213 170 / 28%) 0px 30px 90px;
        border-radius: 10px;
    }

    .item {
        @include item-center(flex, none, none);
        margin: 10px;
        padding: 30px;

        .item-img {
            img {
                border-radius: 10px;
            }
        }

        .item-details {
            @include item-center(block, none, none);
            width: 80%;
            margin-left: 20px;

            .name {
                font-size: large;
                font-weight: 500;
                color: #416a59;
            }

            .description {
                font-size: small;
                color: #416a59;
            }

            .price {
                font-size: 12px;
                text-align: right;
            }

            .count {
                color: #39395f;
                @include item-center(flex, center, space-between);
                cursor: pointer;

                .flex-center-between {
                    @include item-center(flex, center, space-between);

                    mat-icon {
                        color: #f4eec2;
                        background-color: #416a59;
                        min-width: 20px;
                        @include item-center(flex, center, center);
                    }
                }

                .w-20 {
                    width: 20%;
                }

                .quantity {
                    font-weight: 700;
                    color: #416a59;
                    font-size: 16px;
                }
            }

        }

        .remove-button {
            font-size: 10px;
            cursor: pointer;

            mat-icon {
                color: red !important;
                background-color: transparent !important;
            }
        }

    }

    .total {
        justify-content: space-between;
        padding: 20px;

        .amount {
            float: right;
        }
    }

    .data-not-found {
        @include item-center(flex, center, center);
        flex-direction: column;
        padding: 10px;

        img {
            width: 50%;
        }

        .back-to-shopping-btn {
            width: 50%;
            height: 40px;
            color: #56c16d;
            background-color: #e8f6eb;
            font-weight: 700;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }
    }
}