<div class="container">
    <div class="checkout">
        <div class="item" *ngFor="let item of cartItems;">
            <div class="item-img">
                <img src="{{item.image}}" width="100px" height="100px">
            </div>
            <div class="item-details">
                <div>
                    <span class="name">{{item.title}}</span><br>
                    <span class="description">{{item.description}}</span>
                </div>
                <div>
                    <span class="price">{{item.price | currency : 'INR'}}</span>
                </div>
                <div class="count">
                    <span class="flex-center-between w-20">
                        <mat-icon (click)="removeItem(item)">remove</mat-icon> <span
                            class="quantity">{{item.quantity}}</span> <mat-icon
                            (click)="updateItemCart(item)">add</mat-icon>
                    </span>
                    <span class="remove-button">
                        <mat-icon color="warn" (click)="deleteItem(item)">delete</mat-icon>
                    </span>
                </div>
            </div>
        </div>
        <div class="data-not-found" *ngIf="!cartItems?.length">
            <img src="../../../assets/cart_empty.png" alt="Empty Cart">
            <button class="back-to-shopping-btn" [routerLink]="['/']">Continue To Shopping</button>
        </div>
    </div>

</div>