/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #416a59;
    height: 100%;
    width: 100%
}

label.star {
    font-size: 20px !important;
    padding: 3px !important;

    &::before {
        color: #a9c25d !important;
        text-shadow: none !important;
    }
}